body{
    margin: 0;
    padding: 0;
}

.thiccBorder {
    border-width: 2px !important;
}

.thiccerBorder {
    border-width: 4px !important;
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%;

    font-size: 12px;
}

/* .cent-nav {
    display: flex;
    align-items: center;
} */


/* @media only screen and (max-width: 575.98px) {
    .bgc-xs{
        background-color: white !important;
    }

    h1, p {
        text-align: center;
    }

    /* .display {
        display: none;
    } */
 }  */
  