body{
    margin: 0;
    padding: 0;
}

.thiccBorder {
    border-width: 2px !important;
}

.thiccerBorder {
    border-width: 4px !important;
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

footer img {
    padding: 0 20px;
}

.spcr {
    position: relative;
}

@media only screen and (max-width: 475px) {
    .mbl {
        width: 100%;
        text-align: center;
    }
  }

  @media only screen and (max-height: 650px) {
    .pushUp{
        margin-bottom: 100px;
    }
  }